<div
	id="navbar"
	class="navbar fixed bottom-3 left-1/2 z-30 h-22 w-[80%] -translate-x-1/2 bg-(--color-surface) content-center ease-in-out duration-150"
>
	<header class="flex h-19 items-center justify-center">
		<div id="header-button" class="flex h-full w-[90%] gap-2 p-1">
			<div class="accueil btn-neumorphic flex-1">
				<a href="#home">
					<i data-lucide="home" stroke="var(--color-gray)" stroke-width="1.75" class="h-8 w-8"></i>
				</a>
			</div>
			<div class="favoris btn-neumorphic flex-1">
				<a href="#favoris">
					<i data-lucide="bookmark" stroke="var(--color-gray)" stroke-width="1.75" class="h-8 w-8"></i>
				</a>
			</div>
			<div class="user btn-neumorphic flex-1">
				<a href="#profile">
					<i data-lucide="circle-user-round" stroke="var(--color-gray)" stroke-width="1.75" class="h-8 w-8"></i>
				</a>
			</div>
		</div>
	</header>
</div>
