@import "tailwindcss";

h1 {
	@apply text-2xl font-bold;
}

h2 {
	font-size: 20px;
	@apply font-bold;
}

h3 {
	font-size: 15px;
}

body {
	background-color: white;
}

.tiktok-button {
	@apply h-16 w-16;
}

.animated-button {
	transition: transform 0.2s ease;
	@apply cursor-pointer;
}

.animated-button:hover {
	transform: scale(1.05);
}

.animated-button:click {
	transform: scale(1.1);
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
